<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/real_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/real_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EtuBilgisayarTopluluk"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AdminAuth"/>
        <activity android:name=".AdminAraPanel"/>
        <activity android:name=".ClubInterface.activities.AccountActivity"/>
        <activity android:name=".ClubInterface.activities.ActivityDetail"/>
        <activity android:name=".ClubInterface.activities.EtkinlikActivity"/>
        <activity android:name=".ClubInterface.activities.MembersActivity"/>
        <activity android:name=".ClubInterface.activities.NewsActivity"/>
        <activity android:name=".ClubInterface.activities.VideosActivity"/>
        <activity android:name=".ClubInterface.activities.MainActivityClub"/>
        <activity android:name=".adminpanel.AdminPanelEnterence"/>
        <activity android:name=".adminpanel.AdminClubActivities"/>
        <activity android:name=".adminpanel.newspanel.AdminMainNews"/>
        <activity android:name=".adminpanel.newspanel.AdminNewsEdit"/>
        <activity android:name=".adminpanel.videospanel.AdminVideosEdit"/>
        <activity android:name=".adminpanel.videospanel.AdminMainVideos"/>
        <activity android:name=".adminpanel.memberspanel.AdminMainMembers"/>
        <activity android:name=".adminpanel.memberspanel.AdminMembersEdit"/>
        <activity android:name=".adminpanel.activitypanel.AdminMainActivity"/>
        <activity android:name=".adminpanel.activitypanel.AdminActivityEdit"/>
    </application>

</manifest>